html, body {
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

a {
	transition: 0.2s ease-out;
}

img {
	display: block;
}

.wrapper-main {
	width: 1140px;
	margin: 0 auto;
}

.row {
	display: flex;

	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.col-4 {
	width: 360px;
}

.button {
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 1.6px;

	display: inline-block;

	text-transform: uppercase;
	text-decoration: none;

	color: white;

	border: 2px solid white;
	border-radius: 50px;

	padding: 7px 23px;

	margin-bottom: 0px;
}
