$col-hdr-bg: #004371;
$col-prt-bg: #fff;
$col-prtsp-bg: #fff;
$col-ftr-bg: #061634;

$col-txt-hdr-title: #fff;
$col-txt-hdr-text: #fff;
$col-txt-hdr-arrow: #fff;

$col-prt-txt-title: #000;
$col-prt-txt-itm-title: #000;
$col-prt-txt-itm-title-act: #0052c2;
$col-prt-txt-itm-text: #000;

$col-ftr-txt-title: #6479a2;
$col-ftr-txt-text: #fff;
$col-ftr-txt-text-dark: #6479a2;
$col-ftr-txt-social: #fff;
$col-ftr-txt-social-act: #ffe400;